/* EASY WAY  */
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrappers{
height:100vh;
overflow-x: auto;
overflow-y: auto;
background-color: antiquewhite;
}

.container{
  background-color:white;
  margin-left: 300px;
  margin-top:80px;
  height:420px;
  width: 700px;
  border-radius: 15px;
  
}

#image{
  height:420px;
  width:315.469px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.divi{
  background-color:white;
  transform:translate(315.469px,-424px);
  height:fit-content;
  width:384.55px;
  height:4px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#para{
  transform:translate(32px,0px);
  margin-top: 24px;
  font-size:16px;
  font-family:"Montserrat", sans-serif;
  letter-spacing:4.8px;
  color:rgb(108, 114, 137);
  font-weight: 500;
}

#head{
  font-size:32px;
  margin-top: 19.200px;
  font-weight:700;
  line-height:32px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  transform: translate(32px,0);
}
  
#paragraph{
  transform: translate(32px,0);
  margin-top: 22.400px;
  font-size: 16px;
  font-family: "Montserrat", Arial, sans-serif;
  color:rgb(108, 114, 137);
  
}

#price{
  margin-left:32px;
}

#rupee{
  color:rgb(60, 128, 103);
  margin-top: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  transform: translate(32px,0);
  font-weight:700;
}

 #strike{
  margin-left:9.6px ;
  color: rgb(108, 114, 137);
  font-family:sans-serif;
  font-size: 16px;
  font-weight:500;
}

#cart{
  transform: translate(32px,0px); 
  margin-top: 26.667px;
  padding:13.333px,0px;
  height:46.67px;
  width:320.531px;
  color:white;
  background-color: seagreen;
  border-radius: 9.333px;
  border-color: seagreen;
  border-style:unset;
  text-align:center;
}

#add{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:16px;
font-weight: 500;
text-align: center;
margin-bottom: 24px;
}

#ima{
  height:16px;
  width: 15px;
  margin-right: 13.333px;
}   */







/* BETTER WAY  */
 /* *{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

#wrapper{
  height:100vh;
  background-color: antiquewhite;
  display:flex;
  justify-content: center;
  align-items: center;
}

.container{
  max-width: 700px;
  height: 400px;
  border-radius: 1.5em;
  margin: 1em 2em;
  background: rgb(255, 255, 255);
  display:flex;
}

.image{
  height:400px;
  width:315.469px;
  border-radius: 1.5em 0 0 1.5em;
  object-fit: cover;
}

.contents{
  text-align: left;
  margin: 1.5em 2em;  
}

#coffee{
    color: rgb(108, 114, 137);
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.3em;
    font-weight: 500;
}

h1{
    font-weight: 700;
    font-family: "Fraunces", serif;
    font-size: 32px;
    margin: 19.2px 65px 22.4px 0px; 
    line-height: 1;
}

#para{
    font-family: "Montserrat", sans-serif;
    width: 90%;
    color: rgb(108, 114, 137);
    font-weight: 500;
    margin-bottom: 1.5em;
}

.price{
  display: flex;
  gap: 20px;
}

.discount-price{
    color: rgb(60, 128, 103);
    font-size: 32px;
    font-weight: 700;
    font-family: "Fraunces", serif;   
}

.actual-price{
    color: rgb(108, 114, 137);
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    align-self: center;
    text-decoration: line-through;
     font-weight: 500;
}

button{
    background-color: rgb(60, 128, 103);
    margin: 2em 0 1em 0;
    color: white;
    border: none;
    width: 100%;
    padding: 1em 0;
    border-radius: 0.7em;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    display: flex;
}

button:hover{
    cursor: pointer;
    background-color: hsl(156, 24%, 24%);
}

#ima{
   margin-left: 110px;
   height: 16px;
}

#add{
  margin-left: 20px;
  font-weight: 500;
} */





/* LOVE BABBAR APPROACH */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkGreen: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --gray: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --head: 2rem;
  --text: 1rem;
}

img {
  max-width: 100%;
}

.container {
  min-height: 100vh;
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box {
  margin: 1em 2em;
  max-width: 400px;
  background-color: white;
  border-radius: 1.5em;
}

.desktop_img {
  display: none;
}

.mobile_img {
  border-radius: 1em 1em 0 0;
}

.card_text {
  text-align: left;
  margin: 1.5em 2em;
}

.product {
  font-family: "Montserrat", sans-serif;
  font-size: var(--text);
  color: var(--gray);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: 500;
}

.product_title {
  font-size: var(--head);
  font-weight: 700;
  font-family: "Fraunces", serif;
  line-height: 1;
  margin: 0.6em 0 0.7em 0;
}

.description {
  font-family: "Montserrat", sans-serif;
  width: 96%;
  font-size: var(--text);
  color: var(--gray);
  font-weight: 500;
  margin-bottom: 1.5em;
}

.green_text {
  margin-right: 0.3em;
  color: var(--darkGreen);
}

.strike {
  text-decoration: line-through;
  align-self: center;
}

.btn {
  display: block;
  margin: 2em 0 1em 0;
  background-color: var(--darkGreen);
  width: 100%;
  padding: 1em 0;
  color: var(--white);
  border: 0;
  border-radius: 0.7em;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(156, 24%, 24%);
}

.btn_img {
  margin-right: 1em;
  max-width: 100%;
}
.btn_text {
  color: var(--white);
}

/* For smaller screen */
/* @media (max-width: 260px) {
  :root {
    --head: 1.3rem;
    --text: 0.9rem;
  }

  .card-box {
    margin: 1em;
    max-width: 200px;
  }

  .card-box {
    max-width: 200px;
  }

  .card_text {
    text-align: left;
    margin: 1.5em 0.6em;
  }

  .btn {
    padding: 0.6em 0;
  }
} */

/* For PC & HD+ screen */
@media (min-width: 650px) {
  .card-box {
    display: flex;
    max-width: 700px;
  }

  .desktop_img {
    display: block;
    width: 900px;
    height: 100%;
    border-radius: 1.5em 0 0 1.5em;
  }

  .mobile_img {
    display: none;
  }

  .product_title {
    width: 80%;
  }
}

/* For 4K & Full HD+ screen */
/* @media (min-width: 1921px) {
  :root {
    --head: 5rem;
    --text: 2rem;
  }

  .card_text {
    text-align: left;
    margin: 4em 2.5em;
  }

  .card-box {
    margin: 1em;
    max-width: 1200px;
  }

  .desktop_img {
    width: 1600px;
    height: 100%;
  }

  .btn {
    padding: 2em 0;
  }
} */

